body{
  color: #3C4048;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather',serif;
}
h1{
  color: #594545;
  font-size:70px;
  line-height: 1;
  width:30%;
  margin:0 auto;
  font-family: 'Sacramento',cursive;
}
h2{
  color: #594545;
  font-family: 'Montserrat', sans-serif;
  font-size:20px;
  font-weight: 10%;
  padding-bottom: 10px;
}
h3 {
  color: #9E7676;
  font-family: 'Montserrat', sans-serif;
}
 .top-container {
  background-color: #EDE4E0;
  position: relative;
  padding-top:100px;
}
.middle-container{
  margin: 100px 0;

}
.bottom-container{
  background-color: #EDE4E0;
  padding: 50px 0 20px;

}
.top-poetry{
  position:absolute;
  top: 40px;
  right: 100px
}
.bottom-poetry{
  position: absolute;
  left: 0;
  bottom: 50;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;

}

.spokenword{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.writing{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.banji{
  width: 15%;
}
.intro{
  width: 30%;
  margin: auto;
  line-height: 2;
}
hr{
  border: dotted #7D6E83 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.btn {
  background: #665A48;
  background-image: -webkit-linear-gradient(top, #665A48, #D0B8A8);
  background-image: -moz-linear-gradient(top, #665A48, #D0B8A8);
  background-image: -ms-linear-gradient(top, #665A48, #D0B8A8);
  background-image: -o-linear-gradient(top, #665A48, #D0B8A8);
  background-image: linear-gradient(to bottom, #665A48, #D0B8A8);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #665A48;
  background-image: -webkit-linear-gradient(top, #665A48, #665A48);
  background-image: -moz-linear-gradient(top, #665A48, #665A48);
  background-image: -ms-linear-gradient(top, #665A48, #665A48);
  background-image: -o-linear-gradient(top, #665A48, #665A48);
  background-image: linear-gradient(to bottom, #665A48, #665A48);
  text-decoration: none;
}
.CONTACT-message{
  width: 20%;
  margin: 40px auto 60px;
}
